body{
  font-family: Arial;
  text-align: center;
  background:#f2f2f2;
}

input,select{
  padding:8px;
  margin:5px;
  width:200px;
}

button{
  padding:10px;
  background:green;
  color:white;
  border:none;
}

